.contenedor-imagenes{
    background-color: #fff;

    padding: 15px;

    width: 35%;
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.contenedor-imagenes p {
    font-weight: 600;
}