.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px;
}

@media screen and (min-width: 768px) {
  /* Estilos que se aplicarán a partir de 768px */
  .presentacion{
    flex-direction: row-reverse;
    justify-content: space-between;
    
    padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  /* Estilos que se aplicarán a partir de 768px */
  .presentacion{    
    padding-left: 10%;
    padding-right: 10%;
  }
}
