.skills-hobbies {
  padding: 16px;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .skills-hobbies {
    padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .skills-hobbies {
    padding-left: 10%;
    padding-right: 10%;
  }
}
