.formacion {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 100%;
    margin-bottom: 16px;
}

.formacion:last-of-type{
    margin-bottom: 0;
}

@media screen and (min-width: 768px){
    .formacion{
        margin-bottom: 0;
        width: 40%;
    }
}

@media screen and (min-width: 1024px){
    .formacion{
        width: 30%;
    }
}